*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: red;
   
    
}

p {
    color: #fff8f8;
}

ul{
    list-style: none;
    font-style: italic;
    
}

a {
    text-decoration: none;
    font-weight: 700;
}

body {
    background: url(./imagens/universo.jpg) no-repeat center center fixed;
    background-size: cover;
    
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 10px 1px white;
    border-bottom: 1px ridge;   
    
}

header ul {
    display: flex;
    
}

header ul li {
    padding: 5px;
    
    
}

header ul li a {
    transition: 300ms;
    color: red;

    
}

header ul li a:hover {
    color: #a3a196;
    text-decoration: underline;
    
}


.container {
    padding: 50px;
    text-align: center;
}

.container  h1 {

   
    color: rgb(247, 6, 6); 
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.1em;
    font-size: 60px;
    
    
}


.container .name h5 {
    color: rgb(247, 6, 6); 
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.3em;
    font-size: 25px;
}

h6 {
    background-color: #c09717;
    color: black;
    font-weight: 600;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    width: 100px;
    padding: 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    animation: blink 1200ms steps(5, start) infinite;
    border-bottom: 1px ridge;
    transition: 100ms;
    
   
}

h6:hover{
    color: #fff;
    text-decoration: none;
}



#arrow {
    font-size: 35px;
    cursor: pointer;
    

}
@keyframes blink {
    to{
        visibility: hidden;
    }
}

#animation {
    transition: 300ms
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    
}

.form {
    width: 40%;
    margin: 0 auto;
    border: thick double;
    border-color: red;
    padding: 4px;
}

.form input{
    color: black;
    width: 30%;
    padding: 5px 5px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 5px; 
    background-color: #c09717;
    color: #464646;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
}

.form button:hover{
    background-color: #9c551b;
    color: #fff;
}

@media only screen and (max-width: 768px){
    .form button{
        width: 80px;
        
    }
}

@media only screen and (max-width: 768px){
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .container .name h1{
        font-size: 30px;
    }

    .container .name h5{
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }

}